{
    "openapi": "3.0.0",
    "info": {
        "title": "API do jogo Codenames",
        "description": "Tem os endpoints pra criar o joguineo :)",
        "contact": {
            "email": "biancabepplerdullius@gmail.com"
        },
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "https://codenames-bd.adaptable.app",
            "description": "API de produção"
        },
        {
            "url": "https://localhost:5000",
            "description": "API de teste"
        }
    ],
    "paths": {
        "/game/{session}/": {
            "get": {
                "summary": "Buscar Jogo",
                "description": "Rota responsável por buscar um jogo online.",
                "tags": [
                    "Game"
                ],
                "parameters": [
                    {
                        "name": "session",
                        "in": "path",
                        "description": "Sessão do jogador",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "500": {
                        "description": "Falha ao processar sua requisição"
                    },
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "$ref": "#/components/schemas/GameResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/game/create-game": {
            "post": {
                "summary": "Criar Jogo",
                "description": "Rota responsável pela criação de uma novo jogo online.",
                "tags": [
                    "Game"
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CreateGame"
                            },
                            "examples": {
                                "Jogo de 25 Palavras": {
                                    "value": {
                                        "word_count": 25
                                    }
                                },
                                "Jogo de 16 Palavras": {
                                    "value": {
                                        "word_count": 16
                                    }
                                },
                                "Jogo de 9 Palavras": {
                                    "value": {
                                        "word_count": 9
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "500": {
                        "description": "Falha ao processar sua requisição"
                    },
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "$ref": "#/components/schemas/GameResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/game/{session}": {
            "put": {
                "summary": "Alterar Jogo",
                "description": "Rota responsável por alterar o estado de jogo.",
                "tags": [
                    "Game"
                ],
                "parameters": [
                    {
                        "name": "session",
                        "in": "path",
                        "description": "Sessão do jogador",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/PutGame"
                            }
                        }
                    }
                },
                "responses": {
                    "500": {
                        "description": "Falha ao processar sua requisição"
                    },
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "$ref": "#/components/schemas/PutGameResponse"
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "components": {
        "schemas": {
            "CreateGame": {
                "type": "object",
                "properties": {
                    "word_count": {
                        "type": "number"
                    }
                }
            },
            "PutGame": {
                "type": "object",
                "properties": {
                    "turn": {
                        "type": "string"
                    },
                    "game_state": {
                        "type": "array",
                        "items": {
                            "type": "object",
                            "properties": {
                                "word": {
                                    "type": "string"
                                },
                                "team": {
                                    "type": "string"
                                },
                                "turned": {
                                    "type": "boolean"
                                },
                                "position": {
                                    "type": "number"
                                }
                            }
                        }
                    }
                }
            },
            "GameResponse": {
                "type": "object",
                "properties": {
                    "session": {
                        "type": "string"
                    },
                    "game_state": {
                        "type": "array",
                        "items": {
                            "type": "object",
                            "properties": {
                                "word": {
                                    "type": "string"
                                },
                                "team": {
                                    "type": "string"
                                },
                                "turned": {
                                    "type": "boolean"
                                },
                                "position": {
                                    "type": "number"
                                }
                            }
                        }
                    },
                    "turn": {
                        "type": "string"
                    },
                    "timer": {
                        "type": "string"
                    }
                }
            },
            "PutGameResponse": {
                "type": "object",
                "properties": {
                    "turn": {
                        "type": "string"
                    },
                    "timer": {
                        "type": "string"
                    }
                }
            }
        }
    }
}